coverage
build
.idea

/node_modules/*
/node_modules/**/*.md
/node_modules/**/LICENSE
!/node_modules/@npmcli/

!/node_modules/@gar
!/node_modules/@npmcli
!/node_modules/@tootallnate
!/node_modules/abbrev
!/node_modules/agent-base
!/node_modules/agentkeepalive
!/node_modules/aggregate-error
!/node_modules/ansi-regex
!/node_modules/aproba
!/node_modules/are-we-there-yet
!/node_modules/balanced-match
!/node_modules/brace-expansion
!/node_modules/cacache
!/node_modules/chownr
!/node_modules/clean-stack
!/node_modules/color-support
!/node_modules/concat-map
!/node_modules/console-control-strings
!/node_modules/debug
!/node_modules/delegates
!/node_modules/depd
!/node_modules/emoji-regex
!/node_modules/encoding
!/node_modules/env-paths
!/node_modules/err-code
!/node_modules/fs-minipass
!/node_modules/fs.realpath
!/node_modules/gauge
!/node_modules/glob
!/node_modules/graceful-fs
!/node_modules/has-unicode
!/node_modules/http-cache-semantics
!/node_modules/http-proxy-agent
!/node_modules/https-proxy-agent
!/node_modules/humanize-ms
!/node_modules/iconv-lite
!/node_modules/imurmurhash
!/node_modules/indent-string
!/node_modules/infer-owner
!/node_modules/inflight
!/node_modules/inherits
!/node_modules/ip
!/node_modules/is-fullwidth-code-point
!/node_modules/is-lambda
!/node_modules/isexe
!/node_modules/json-parse-even-better-errors
!/node_modules/lru-cache
!/node_modules/make-fetch-happen
!/node_modules/minimatch
!/node_modules/minipass
!/node_modules/minipass-collect
!/node_modules/minipass-fetch
!/node_modules/minipass-flush
!/node_modules/minipass-pipeline
!/node_modules/minipass-sized
!/node_modules/minizlib
!/node_modules/mkdirp
!/node_modules/ms
!/node_modules/negotiator
!/node_modules/node-gyp
!/node_modules/nopt
!/node_modules/npm-normalize-package-bin
!/node_modules/npmlog
!/node_modules/once
!/node_modules/p-map
!/node_modules/path-is-absolute
!/node_modules/promise-inflight
!/node_modules/promise-retry
!/node_modules/read-package-json-fast
!/node_modules/readable-stream
!/node_modules/retry
!/node_modules/rimraf
!/node_modules/safe-buffer
!/node_modules/safer-buffer
!/node_modules/semver
!/node_modules/set-blocking
!/node_modules/signal-exit
!/node_modules/smart-buffer
!/node_modules/socks
!/node_modules/socks-proxy-agent
!/node_modules/ssri
!/node_modules/string-width
!/node_modules/string_decoder
!/node_modules/strip-ansi
!/node_modules/tar
!/node_modules/unique-filename
!/node_modules/unique-slug
!/node_modules/util-deprecate
!/node_modules/which
!/node_modules/wide-align
!/node_modules/wrappy
!/node_modules/yallist